<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaterFlowCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9DF4B5D91D62A91200F1992B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF4B5F01D62A91400F1992B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DF4B5FB1D62A91400F1992B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
